.App {
  padding: 100px;
  background-color: #f9fafe;
  height: 100vh;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  width: 40%;
  height: 80vh;
  background-color: #e7ecf0;
  border-radius: 30px;
}

.main {
  height: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}