.form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: #fff;
  width: 90%;
  border-radius: 10px;
}

.btn__add {
  margin: 0 auto;
  padding: 10px 20px;
  display: block;
  width: 100px;
  background-color: #4a7fc1;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

input {
  margin-left: 10px;
}