.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #4a7fc1;
  border-radius: 30px 30px 0 0;
}

.header__logo {
  color: #fff;
  margin: 0;
}

.header__btn {
  border-radius: 5px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
